* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: center;
    font-weight: 600;
    background-color: #c6f7f7;
    width: 100vw;
}

.hero {
    background-image: url('./assets/img/portada.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%; 
    height: 55vh; 
    display: flex;
}



.busqueda{ 
    margin: 20px;
    
}

.busqueda_container{
    display: flex;
    justify-content: space-between;
    
}

.busquedaDelInput,
.busqueda_filtro{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}


.busquedaDelInput{
   width: 30%;
   color: #ec7575;
   font-size: 20px;
   border-bottom: 2px solid #151515;
}






.busqueda_filtro{
   display: flex;
   margin-right: 120px;
   gap: 30px;
}

.tipo{
    font-weight: 300px;
}

.button_filtros{
    background-color: aqua;
    padding: 5px;
    
}

.seccion_comics{
    display: none;
}

#peliculas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
   
    width: 200px; 
    height: 300px; 
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 10px 40px;
    cursor: pointer;
    
}

.card-body {
    width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
    height:100%; /* La imagen ocupa el 80% de la altura de la tarjeta */
    object-fit: cover; /* Ajusta la imagen para cubrir toda la tarjeta */
}

.card-footer {
    font-size: 12px; 
    text-align: center; 
    height: 20%; /* La descripción ocupa el 20% de la altura de la tarjeta */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666;
}
    

.paginacion{
    text-align: center;
    height: 50px;
    margin: 15px;
}

.boton_paginacion{
    background-color: crimson;
    border-radius: 7px;
    padding: 7px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #666;
    color: #ccc;
}

/* mobile */
@media only screen and (max-width:600px){
    
    .busqueda_filtro{
        display: flex;
        flex-direction: column;
        
        }

    .filtros_chicos{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }

    .button_filtros{
        background-color: #666;
        border-radius: 8px;
        padding: 8px;
    }
}


/* tablet */
@media only screen and (min-width: 601px) and (max-width: 1022px) {
    
    .busqueda_filtro {
        display: flex;
        flex-direction: column;
    }

    .filtros_chicos {
        display: flex;
        flex-direction: column;
        gap: 5px; /* Espacio entre los elementos */
    }

    .button_filtros {
        background-color: #ec7575; /* Color de fondo del botón */
        border-radius: 8px; /* Bordes redondeados */
        padding: 8px; /* Espaciado interno del botón */
    }
}

/* grande */
@media only screen and (min-width: 1023px) {
    
    .busqueda_filtro {
        display: flex;
        flex-direction: row; /* Cambiar a diseño en fila para pantallas grandes */
        justify-content: space-between; /* Distribuir espacio entre los elementos */
    }

    .filtros_chicos {
        display: flex;
        flex-direction: row; /* Cambiar a diseño en fila */
        gap: 5px; /* Mayor espacio entre los elementos */
    }

    .button_filtros {
        background-color: #57d3e8; /* Color de fondo del botón */
        border-radius: 8px; /* Bordes redondeados */
        padding: 8px; /* Espaciado interno del botón */
    }
}